@model Hackathon2001.Models.HackathonInvite
@{
    Layout = null;
}

@{
    // Map technical interest enum values to their display names
    var technicalInterestNames = new Dictionary<Hackathon2001.Models.TechnicalInterest, string>
    {
        { Hackathon2001.Models.TechnicalInterest.IoT, "Internet of Things" },
        { Hackathon2001.Models.TechnicalInterest.Cognitive, "Cognitive Computing" },
        { Hackathon2001.Models.TechnicalInterest.Wearable, "Wearable Computing" },
        { Hackathon2001.Models.TechnicalInterest.AR_VR, "Augmented / Virtual Reality" }
    };

    // Determine the selected technical interest display name
    string selectedInterest = technicalInterestNames.ContainsKey(Model.Interest)
        ? technicalInterestNames[Model.Interest]
        : "Select a technical interest";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    @*     <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" /> *@
    <link href="~/Content/styles.css" rel="stylesheet" />
    <title>Thanks!</title>
</head>
<body class="d-flex align-items-center justify-content-center vh-100">
    <div class="container text-center">
        <h1>Thank you, @Model.Name!</h1> <br>
        <div class="lead">
            @if (Model.WillAttend == true)
            {
                <p class="text-success">It's great to hear that you're coming!</p>
                <p>You were enrolled in the @selectedInterest track of the competition.</p>
            }
            else
            {
                <p class="text-danger">Sorry to hear that you can't make it, but thanks for letting us know.</p>
            }
        </div>
    </div>
</body>
</html>
